.card-container{
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 3px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    font-size: .9rem;
}

.card-container:hover{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}

.card-container img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-information{
    padding: 0 10px;
}

.card-price{
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 8px;
}

.card-street{
    margin: 8px 0;
    color: #878787;
}

.card-footer{
    display: flex;
    justify-content: space-between;
}

.card-footer-box{
    text-align: center;
}

.card-footer-icon-box{
    display: flex;
    align-items: center;
}

.card-footer-icon-box p{
    margin-left: 10px;
}

sup{
    font-size: .625rem;
}
