.card-container{
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.card-container:hover{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}

.card-container img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-title, .card-description, .card-price{
    padding: 0 10px;
}

.card-title{
    font-weight: lighter;
    margin: 8px 0;
}

.card-price{
    font-weight: bold;
    margin-top: 8px;
}
